{% extends 'base.html.twig' %}

{% block title %}Blog mainPage{% endblock %}

{% block body %}
<div class='col-12 d-flex justify-content-center align-items-center'>
	<a class='btn btn-success m-1' href='/register'>S'inscrire</a>
	<a class='btn btn-warning m-1' href='/login'>Se connecter</a>
</div>
{% endblock %}
