{% extends 'base.html.twig' %}
{%block body %}
<div class='row justify-content-start align-items-center'>
	{% for article in articles %}
	<div class='shadow col-3 border-rounded-lg bg-light m-2 d-flex flex-column justify-content-center align-items-center'>
		<u class='p-0 h5 m-0'>{{ article.Nom }}</u>
		<small class='mt-0 text-left align-self-end'>{{ article.DateParution ? article.DateParution|date('Y-m-d') : '' }}</small>
		<p class='text-justify'> {{ article.Description }}</p>
	</div>
	{% endfor %}

</div>
{% endblock %}
